body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilos de la Página de Contacto */
.contact {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  max-width: 600px;
  margin: 2rem auto;
}

.contact h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 1rem;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

.contact button:hover {
  background-color: #0056b3;
}

.contact p {
  color: #28a745;
  text-align: center;
}
